<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "site" %>
    <meta name="twitter:site" content="@jsrndoftime">
    <meta name="twitter:creator" content="@jsrndoftime">
    <meta name="twitter:title" content="<%= page_title %>">
    <meta name="twitter:description" content="<%= page_description %>">
    <meta name="twitter:card"  content="summary">
  </head>
  <body>
    <%= partial "sidebar" %>
    <main id="main"><%= yield %></main>
  </body>
  <style>
    <%= Rouge::Themes::MonokaiSublime.render(scope: '.highlight') %>
  </style>
</html>
